<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
      </h1>
      <div class="header-icons">
		<a href="https://zhewang.org/resume"><i class="icon fa fa-book" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/zhe-wang-2017"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
		<a href="https://zhewang.org/coming-soon"><i class="icon fa fa-camera-retro" aria-hidden="true"></i></a>
		<a href="mailto:zhewang@zhewang.org"><i class="icon fa fa-envelope"></i></a>
      </div>
	  <h1>
		<span class="site-description">{{site.user_title}}</span>
	  </h1>
      <div class="header-links">
        <a class="link" href="https://zhewang.org/resume"><u>Data Science Graduate</u></a>
        <a class="link" href="https://zhewang.org/coming-soon"><u>Amateur Photographer</a></u>
      </div>
	  <h1>
		<span class="site-description"></span>
	  </h1>
	  <p class="masthead-subheading font-weight-light mb-0">News and Updates</p>
	  <div class="header-links">
        <a class="link" href="https://zhewang.org/dish"><u>Home Quarantine Recipe</u></a>
      </div>
  </div>
</div>
